<!DOCTYPE html>
<html>
    <head>
        <title>Fyll tankene</title>
        <link rel="stylesheet" style="text/css" href="/static/style.css">
    </head>
    <body>
        <div id="header">
            <ul>
                <li><a href="/index">Hulen</a></li>
                <li><a href="/login">Logg inn</a></li>
            </ul>
        </div>
        {% with messages = get_flashed_messages() %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>